<li>
  <span class="image"><%= image_tag(tweet.image.url, alt: 'Image', size: "52") if tweet.image? %></span>
  <span class="message"><%= tweet.message %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(tweet.created_at) %> ago.
  </span>
  <span class="url"><%= link_to "View", tweet.url, rel: "external" %></span>
</li>